/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .main {
        background: white;
    }
    #titolPrincipal {
        flex-direction: row;
        width: 300px;
    }
    .titolMobil {
        /* width: 60px;
        background-color: yellow;
        text-align: center; */
        display: flex;
        justify-content: center;
    }
    .logoPrincipal {
        height: 90px;
        width: auto;
        display: flex;
    }
    .idioma {
        width: 50px;
    }
    .titol {
        display: none;
        /* font-size: 2.0rem; */
    }
    .subTitol {
        display: none;
        /* font-size: 1.625rem */
        ;
    }
    /* .idioma {
        flex-direction: column;
    } */
    .idioma img {
        width: 1.2rem;
        /* margin: 5px 0 0 0; */
    }
    .previFigure {
        height: 100px !important;
    }
    article.contacte {
        padding: 20px 0;
    }
    section {
        width: 100%;
    }
    #btnNav {
        width: 50px;
    }
    #detallServeis article {
        flex-direction: column;
    }
    #detallServeis .senar {
        width: 90%;
        order: 1;
    }
    #detallServeis .parell {
        width: 90%;
        order: 2;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .main {
        background: white;
    }
    .container {
        width: 100%;
    }
    section {
        width: 100%;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .main {
        background: white;
    }
    section {
        width: 90%;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .main {
        background: white;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .main {
        background: white;
    }
    #sctContacte {
        width: 75%;
    }
}
